body{ background-color: pink;}
h1 {font-family: 'Satisfy', cursive; color: red;}
h2 {color: orange;}
img {height: 250px;}
h3 {font-family: 'Satisfy', cursive; color: red;}
h4 {color: orange;}
h5 {font-family: 'Satisfy', cursive; color: red;}
ol {color: orange;}
h6 {font-family: 'Satisfy', cursive; color: red;}
h-7 {color: orange;}
